.date-ranger {
    /* Weekday styles */
    -weekday-border       : transparent;
    -weekday-fill         : transparent;
    -weekday-text-fill    : black;
    /* Saturday styles */
    -saturday-border      : transparent;
    -saturday-fill        : transparent;
    -saturday-text-fill   : red;
    -saturday-font-weight : 500;
    /* Sunday styles */
    -sunday-border        : transparent;
    -sunday-fill          : transparent;
    -sunday-text-fill     : red;
    -sunday-font-weight   : 500;
    /* Today styles */
    -today-border         : transparent;
    -today-fill           : lightgray;
    -today-text-fill      : magenta;
    -today-font-weight    : 500;
    /* Selected date styles */
    -selected-border      : black;
    -selected-fill        : rgb(0, 150, 255);
    -selected-text-fill   : black;
    -selected-font-weight : 500;
    /* Start date styles */
    -start-border         : transparent;
    -start-fill           : rgb(230, 150, 0);
    -start-text-fill      : black;
    -start-font-weight    : 500;
    /* Range styles */
    -range-border         : transparent;
    -range-fill           : rgb(230, 150, 0);
    -range-text-fill      : black;
    -range-font-weight    : 500;
    /* End date styles */
    -end-border           : transparent;
    -end-fill             : rgb(230, 150, 0);
    -end-text-fill        : black;
    -end-font-weight      : 500;
}

.date-ranger .date-label {
    -fx-border-color    : -weekday-border;
    -fx-background-color: -weekday-fill;
    -fx-text-fill       : -weekday-text-fill;
}
.date-ranger .date-label:today {
    -fx-border-color    : -today-border;
    -fx-background-color: -today-fill;
    -fx-text-fill       : -today-text-fill;
    -fx-font-weight     : 500;
}
.date-ranger .date-label:saturday {
    -fx-border-color    : -saturday-border;
    -fx-background-color: -saturday-fill;
    -fx-text-fill       : -saturday-text-fill;
    -fx-font-weight     : 500;
}
.date-ranger .date-label:saturday:today {
    -fx-border-color    : -today-border;
    -fx-background-color: -weekend-fill;
    -fx-text-fill       : -today-text-fill;
    -fx-font-weight     : 500;
}
.date-ranger .date-label:sunday {
    -fx-border-color    : -sunday-border;
    -fx-background-color: -sunday-fill;
    -fx-text-fill       : -sunday-text-fill;
    -fx-font-weight     : 500;
}
.date-ranger .date-label:sunday:today {
    -fx-border-color    : -today-border;
    -fx-background-color: -sunday-fill;
    -fx-text-fill       : -today-text-fill;
    -fx-font-weight     : 500;
}

.date-ranger .date-label:start,
.date-ranger .date-label:range:start {
    -fx-border-color     : -start-border;
    -fx-background-color : -start-fill;
    -fx-text-fill        : -start-text-fill;
    -fx-font-weight      : 500;
    -fx-background-radius: 64 0 0 64;
}
.date-ranger .date-label:start:today,
.date-ranger .date-label:range:start:today {
    -fx-border-color     : -start-border;
    -fx-background-color : -today-fill;
    -fx-text-fill        : -today-text-fill;
    -fx-font-weight      : 500;
    -fx-background-radius: 64 0 0 64;
}
.date-ranger .date-label:range {
    -fx-border-color    : -range-border;
    -fx-background-color: -range-fill;
    -fx-text-fill       : -range-text-fill;
    -fx-font-weight     : 500;
}
.date-ranger .date-label:range:today {
    -fx-border-color    : -range-border;
    -fx-background-color: -today-fill;
    -fx-text-fill       : -today-text-fill;
    -fx-font-weight     : 500;
}
.date-ranger .date-label:end,
.date-ranger .date-label:range:end {
    -fx-border-color     : -end-border;
    -fx-background-color : -end-fill;
    -fx-text-fill        : -end-text-fill;
    -fx-font-weight      : 500;
    -fx-background-radius: 0 64 64 0;
}
.date-ranger .date-label:end:today,
.date-ranger .date-label:range:end:today {
    -fx-border-color     : -end-border;
    -fx-background-color : -today-fill;
    -fx-text-fill        : -today-text-fill;
    -fx-font-weight      : 500;
    -fx-background-radius: 0 64 64 0;
}



.date-ranger .date-label:selected,
.date-ranger .date-label:today:selected,
.date-ranger .date-label:saturday:selected,
.date-ranger .date-label:sunday:selected,
.date-ranger .date-label:saturday:today:selected,
.date-ranger .date-label:sunday:today:selected {
    -fx-border-color    : -selected-border;
    -fx-background-color: -selected-fill;
    -fx-text-fill       : -selected-text-fill;
    -fx-font-weight     : 500;
}
